@page
@model KBVIEW.Pages.LogOutModel
@{
    ViewData["Title"] = "Log Out";
}

<div style="color: white; text-align: center; padding: 100px;">
    <h1 style="font-size: 48px; margin-bottom: 20px;">📺 Log Out</h1>
    <p style="font-size: 18px; color: #ccc;">Coming Soon!</p>
</div>


